<html>  
  <head>
    <title>Heart to Heart</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">    
    <style>
    </style>
  </head>
  <body>
    <div class="container-fluid min-100 d-flex flex-column" style = "align-items: center">
      <div style="margin-top:5%">

      
      <div class="jumbotron bg-danger text-white center">
          <h1 class="display-4">Every heartbeat counts. <br> And so does every <b>action</b> you take.</h1>
          <hr class="my-4">
          <h1 class="display-6">I want to...</h1>
          <div class="container">
              <div class="row">
                  <div class="col">
                      <a href="/analyze"><button type="button" class="btn btn-outline-light btn-lg">Analyze my risk for heart disease</button></a>
                  </div>
                  <div class="col">
                      <a href="/learn"><button type="button" class="btn btn-outline-light btn-lg">Create heart-healthy habits</button></a>
                  </div>
              </div>
          </div>
        </div>
        <a href="/logout"><button class="btn btn-light btn-sm">Log out</button></a>
      </div>
      </div>
    </div>
  </body>
  
</html>