<html>  
  <head>
    <title>Heart to Heart</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">    
    <style>
    </style>
  </head>
  <body>
    <div class="container-fluid min-100 d-flex flex-column" style = "align-items: center">
      <div style="margin-top:5%">        
        <div class="jumbotron bg-danger text-white center">
          <h1 class="display-4">A Healthy Heart Habit</h1>
          <hr class="my-4">
          <p>{{ habit }}</p>
          <a href="/learn"><button type="button" class="btn btn-outline-light btn-sm">Get another!</button></a>
          <br><br>
          <small>Credits: https://www.webmd.com/heart-disease/news/20150107/healthy-heart-habits#1</small>
        </div>
        <a href="/home"><button class="btn btn-light btn-sm">Home</button></a>
        <a href="/logout"><button class="btn btn-light btn-sm">Log out</button></a>
      </div>
    </div>
  </body>
</html>